ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;
    height: 450px;
  }

  li {
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .entry-icon {
    width: 25px;
  }

  a {
    text-decoration: none;
    color: black;
    font-weight: 700;
  }